body {
  display: flex;
  align-items: center;
  justify-content: center;
}

.game-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 500px;
  min-height: 500px;
  background-color: rgba(255, 228, 225, 0.9);
  border: 3px solid blue;
}

.headings{
  margin: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  
}

h1 {
 margin: 0;
  color: red;
}


h2 {
  margin: 0;
  color: blue;
}

.results {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  width: 440px;
  height: 130px;
  border: blue 1px solid;
  padding: 10px;
  background-color: rgba(255, 0, 0, 0.1);
  
}

#winner{
  visibility: hidden;
}

.btns {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 45px;
}

.play-cancel{
  display: flex;
  gap: 50px;
}

 #play-btn, #cancel-btn {
  background-color: yellow;
  color: blue;
  font-size: 18px;
  font-weight: bold;
  width: auto;
  height: 30px;
  border-radius: 10px;
  box-shadow: 3px 3px rgba(0, 0, 255, 0.5);
 
}


button {
  width: 100px;
  height: 150px;
  border-radius: 15px;
  box-shadow: 3px 3px rgba(0, 0, 255, 0.5);
}

.rock {
  font-size: 70px;
}

.paper {
  padding-top: 18px;
  color: green;
  font-size: 80px;
}

.scissors {
  color: red;
  font-size: 80px;
}

span {
  font-weight: bold;
}

#playerScore {
  color: blue;
}

#computerScore {
  color: red;
}

#finalResults {
  color: brown;
}

#results {
  color: red;
  font-weight: bold;
  font-style: italic;
}
